@model WebApplication1.Profile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProfileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender.GenderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.GenderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price.Price1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price.Price1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proffesion.ProffesionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proffesion.ProffesionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speciality.SpecialityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speciality.SpecialityName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProfileId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
